@model IEnumerable<UserAuthentication.Models.CourseStudent>

@{
    ViewBag.Title = "Index";
}

<h2>Assign Course to Student</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Course Title
        </th>
        <th>
           Student Name
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalMarks)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CompletedYear)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CourseTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StudentName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalMarks)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CompletedYear)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { c_id=item.CourseID,s_id=item.StudentID }) |
       
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
